{% set block_img_content %}
	<div class="col-lg-6">
		<div class="text-body image">
			<img src="{{ img_url }}" alt="{{ img_alt }}" class="img-fluid {{ img_class }}"/>
		</div>
	</div>
{% endset %}
<section class="imagetextrightleft-modelm1">
	<div class="container">
		<div class="row">
			{% if header %}
    			{{ header }}
			{% endif %}
		</div>
		<div class="row body">
			{% if img_before %}
				{{ block_img_content }}
			{% endif %}
			<div class="col-lg-6">
				<div class=" text-body {% if img_before %} left {% endif %} ">
					<h2 class="title">{{ title }}</h2>
					<div class="text">{{ text | raw }}</div>
					<div class="button">{{ button }}</div>
				</div>
			</div>
			{% if img_before %}{% else %}
				{{ block_img_content }}
			{% endif %}
		</div>
	</div>
</section>