{% 
    set classe=[
        'card-icone-model-flat'
    ]
%}

{% 
    set classe_card=[
        'card'
    ]
%}


<section{{ attribute.addClass(classe) }}>
	<div class="container sectionspace">
		<div class="row">
			{% for card in cards %}				
				<div class="d-flex {{ card_class_block }}">					
					<div{{ card.attribute.addClass(classe_card) }}>						
						<div class="card-header">
							<a href="{{ card.linkvalue }}">{{ card.icone | raw }}</a>
						</div>						
						<div class="card-body">
							<div>
								
								<h3 class="card-title"><a href="{{ card.linkvalue }}">{{ card.title ? card.title : card.titre}}</a></h3>
								<div class="card-text">{{ card.text ?  card.text : card.description}}</div>
							</div>
							{% if card.link %}<div class="flex-row"><a class="btn btn-sm btn-outline-info" href="{{ card.linkvalue }}">{{ card.link }}</a></div>{% endif %}
						</div>						
					</div>					
				</div>							
			{% endfor %}
		</div>
	</div>
</section>