<footer class="footers-modele1">
	<div class="container sectionspace">
		<div class="row">
			{% for card in cards %}				
				<div class="{{ card_class_block }}">					
					<div class="card">
						<div class="card-header p-0">
							{{ card.title }}
						</div>
						<div class="card-body p-0">
							<div class="card-text">{{ card.text | raw }}</div>
						</div>
					</div>
				</div>							
			{% endfor %}
		</div>
	</div>
	<div class="container endfooter">
		<div class="row">
			<div class="col-md-6">
				{{ text_left | raw }}
			</div>
			<div class="col-md-6 text-right">
				{{ text_right | raw }}
			</div>
		</div>
	</div>
</footer>